<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'style.css') }}">
    <script src="{{url_for('static', filename='main.js')}}"></script>
    <title>Balawiki</title>
</head>
<body>
    <header>
        <a class="logo" href= {{ url_for('wiki_search') }}>Balawiki - your wiki on every query!</a>
    </header>
    {% block main_part %} {% endblock %}
    <div id="loading" class="nice_text loading center">
    </div>
    <br><br><br><br>
    <footer>
        <div class="left">
            Проект Wiki в каждый дом!
        </div>
        <div class="right">
                  (c) Бугор Егаев
        </div>
    </footer>
</body>
</html>